<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if usuario_signed_in? then %>
      <%= current_usuario&.email %>
      <%= link_to "Salir", :destroy_usuario_session, method: :delete %>
    <% else %>
      <%= link_to "Ingresar", :new_usuario_session %>
    <% end %>

    <h2>Lorem ipsum dolor</h2>

    <%= yield %>
  </body>
</html>
